.img {
  margin: 1px;
  height: 230px;
  width: -webkit-fill-available;
  object-fit: cover;
  color: #fff;
  line-height: 160px;
  text-align: center;
  background: #364d79;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: -webkit-center;
}
.title {
  font-weight: 700;
  font-size: 2em;
}
.desc {
  font-size: 1.1em;
  color: rgb(97, 97, 97);
}
.details {
  align-items: center;
  display: flex;
  gap: 40px;
  flex-direction: row;
  justify-content: space-between;
}
.price {
  font-weight: 700;
  font-size: 3em;
}
.hr {
  margin: 4px 0;
}
.discount {
  
  font-size: 1.3em;
}