.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .select {
    background-color: white;
    border-radius: 6px;
  }